<!DOCTYPE HTML>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="utf-8"/>
<meta name="keywords" content="腾讯,技术公益,寻人平台,失踪,儿童,宝贝回家">
<title>PFIF-腾讯公益寻人平台</title>
<link rel="stylesheet" type="text/css" href="../public/css/style-v2.css" />

</head>

<body class="os-win7">
    <!-- 头部 -->
    <div class="header">
        <div class="wrapper">
            <h1><a href="###">腾讯寻人平台</a></h1>
            <!-- 一级导航 -->
            <ul class="top-nav">
                <li><a href="###" class="current">首页</a></li>
                <li><a href="###">提供信息</a></li>
            </ul>
            <!-- 搜索 -->
            <div class="search-person">
                <div class="search-person-inner">
                    <input class="search-person-input" type="text">
                    <i class="icon-search"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- 首页主体区域 -->
    <div class="index-body">
        <div class="wrapper">
            <div class="main-area">
                <div class="guide-img">

                </div>
                <!-- 热点事件 -->
                <h2 class="hot-events-title">热点事件</h2>
                <div class="event top-event">
                    <a href="###"><img src="http://getimg.in/695x340" alt=""></a>
                    <div class="bottom-cover">
                        <span class="event-name">雅安地震</span>
                        <span class="event-date">2012-05-12</span>
                    </div>
                </div>
                <div class="event other-event">
                    <a href="###"><img src="http://getimg.in/340x340" alt=""></a>
                    <div class="bottom-cover">
                        <span class="event-name">雅安地震</span>
                        <span class="event-date">2012-05-12</span>
                    </div>
                </div>
                <div class="event other-event2">
                    <a href="###"><img src="http://getimg.in/340x340" alt=""></a>
                    <div class="bottom-cover">
                        <span class="event-name">雅安地震</span>
                        <span class="event-date">2012-05-12</span>
                    </div>
                </div>
                <div class="event other-event">
                    <a href="###"><img src="http://getimg.in/340x340" alt=""></a>
                    <div class="bottom-cover">
                        <span class="event-name">雅安地震</span>
                        <span class="event-date">2012-05-12</span>
                    </div>
                </div>
                <div class="event other-event2">
                    <a href="###"><img src="http://getimg.in/340x340" alt=""></a>
                    <div class="bottom-cover">
                        <span class="event-name">雅安地震</span>
                        <span class="event-date">2012-05-12</span>
                    </div>
                </div>
            </div>

            <div class="sidebar">
                <h3>寻人启事</h3>
                <ul class="lost-people">
                    <li>
                        <img src="http://getimg.in/80x80" alt="" class="lost-people-avatar">
                        <div class="lost-people-info">
                            <p class="lost-people-name">张倩雯</p>
                            <p>女</p>
                            <p>33岁</p>
                            <p>2013年10月11日失踪</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://getimg.in/80x80" alt="" class="lost-people-avatar">
                        <div class="lost-people-info">
                            <p class="lost-people-name">张倩雯</p>
                            <p>女</p>
                            <p>33岁</p>
                            <p>2013年10月11日失踪</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://getimg.in/80x80" alt="" class="lost-people-avatar">
                        <div class="lost-people-info">
                            <p class="lost-people-name">张倩雯</p>
                            <p>女</p>
                            <p>33岁</p>
                            <p>2013年10月11日失踪</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://getimg.in/80x80" alt="" class="lost-people-avatar">
                        <div class="lost-people-info">
                            <p class="lost-people-name">张倩雯</p>
                            <p>女</p>
                            <p>33岁</p>
                            <p>2013年10月11日失踪</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://getimg.in/80x80" alt="" class="lost-people-avatar">
                        <div class="lost-people-info">
                            <p class="lost-people-name">张倩雯</p>
                            <p>女</p>
                            <p>33岁</p>
                            <p>2013年10月11日失踪</p>
                        </div>
                    </li>
                    <li>
                        <img src="http://getimg.in/80x80" alt="" class="lost-people-avatar">
                        <div class="lost-people-info">
                            <p class="lost-people-name">张倩雯</p>
                            <p>女</p>
                            <p>33岁</p>
                            <p>2013年10月11日失踪</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- 底部copyright -->
    <div class="copyright">
        <p><a href="http://vip.qzone.com/" onclick="TCISD &amp;&amp; TCISD.hotClick('threefromendofpage', 'guangxi.vip.qzone.com', 'main')"  target="_blank">黄钻贵族</a> | <a href="http://user.qzone.qq.com/20050606"  target="_blank">官方Qzone</a> | <a href="http://t.qq.com/qzone"  target="_blank">官方微博</a> | <a href="http://connect.qq.com/"  target="_blank">QQ互联</a> | <a href="http://page.opensns.qq.com/"  target="_blank">认证服务</a> | <a href="http://blog.qq.com/"  target="_blank">腾讯博客</a> | <a href="http://service.qq.com/special_auto/qzone.html"  target="_blank">腾讯客服</a> | <a href="http://wiki.open.qq.com/wiki/Tencent_Open_Platform_Complaint_Guidelines"  target="_blank">Complaint Guidelines</a> | <a href="http://www.qq.com/culture.shtml"  target="_blank">粤网文[2011]0483-070号</a></p>
        <p>Copyright &copy; 2005 - 2013 Tencent.<a href="http://www.tencent.com/en-us/le/copyrightstatement.shtml"  target="_blank">All Rights Reserved.</a></p>
        <p>腾讯公司 <a href="http://www.tencent.com/zh-cn/le/copyrightstatement.shtml"  target="_blank">版权所有</a></p>
    </div>
</body>
</html>
